body {
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
}


header, main, footer {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    margin-top: auto;
}